<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

  <div class="page-center">
    <div class="frame-2x1">

		<div class="frame-left">
		  <div class="ascii-display">
			<pre class="ascii-content">
				{{ content | safe }}
			</pre>
		  </div>
		</div>

		<div class="frame-right">
			{% include "grid.njk" %}
		</div>

    </div>
  </div>

  <script src="/assets/js/shader.glsl.js"></script>
  <script src="/assets/js/grid.js"></script>

</body>
</html>
