VITE_ANALYTICS_ENABLED=false
VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX
VITE_YANDEX_METRICA_ID=00000000
VITE_ANALYTICS_CONSENT_MODE=required
VITE_YANDEX_WEBVISOR=false
VITE_ANALYTICS_DEBUG=false
VITE_ANALYTICS_PROJECT_ID=odadream
VITE_ANALYTICS_CAMPAIGN_ID=brand-site-2026
VITE_ANALYTICS_SITE_ID=odadream-site
